<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container, see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	<servlet>
		<servlet-name>Fengdai user webservice</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.fengdai.rest.base.configure,com.fengdai.user.resource,com.fengdai.user.configure</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.beanValidation.enableOutputValidationErrorEntity.server</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.beanValidation.disable.validateOnExecutableCheck.server</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Fengdai user webservice</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Init War</servlet-name>
		<servlet-class>com.fengdai.user.servlet.UserInitServlet</servlet-class>
		<init-param>
			<param-name>appName</param-name>
			<param-value>rest-user</param-value>
		</init-param>
		<init-param>
			<param-name>register</param-name>
			<param-value>zookeeper://121.43.116.29:2181</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>rest-base</servlet-name>
		<servlet-class>com.tairanchina.md.base.plugin.BaseApplicationServlet</servlet-class>
		<init-param>
			<param-name>appName</param-name>
			<param-value>rest-user</param-value>
		</init-param>
		<init-param>
			<param-name>register</param-name>
			<param-value>zookeeper://172.30.249.243:2181</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>rest-logging</servlet-name>
		<servlet-class>com.tairanchina.md.logging.plugin.LoggingApplicationServlet</servlet-class>
		<init-param>
			<param-name>appName</param-name>
			<param-value>rest-user</param-value>
		</init-param>
		<init-param>
			<param-name>register</param-name>
			<param-value>zookeeper://172.30.249.243:2181</param-value>
		</init-param>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>rest-user</servlet-name>
		<servlet-class>com.fengdai.user.plugin.UserApplicationServlet</servlet-class>
		<init-param>
			<param-name>appName</param-name>
			<param-value>rest-user</param-value>
		</init-param>
		<init-param>
			<param-name>register</param-name>
			<param-value>zookeeper://172.30.249.243:2181</param-value>
		</init-param>
		<load-on-startup>5</load-on-startup>
	</servlet>
</web-app>